<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>HELLO SHOP</h1>
        <p class="lead">구현1</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/search/cheapest-category">카테고리 별 최저가격 브랜드와 상품 가격, 총액을 조회하는 API
            </a>
        </p>
        <p class="lead">구현2</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/search/cheapest-brand">단일 브랜드로 모든 카테고리 상품을 구매할 때 최저가격에 판매하는 브랜드와 카테고리의 상품가격, 총액을
                조회하는 API</a>
        </p>
        <p class="lead">구현3</p>
        <p>
            <a class="btn btn-lg btn-dark" href="">카테고리 이름으로 최저, 최고 가격 브랜드와 상품 가격을 조회하는 API
            </a>

            <a class="btn btn-lg btn-dark" href="/search/cheapest-hightest/hat">모자</a>

            <a class="btn btn-lg btn-dark" href="/search/cheapest-hightest/top">상의</a>

            <a class="btn btn-lg btn-dark" href="/search/cheapest-hightest/outer">아우터</a>

            <a class="btn btn-lg btn-dark" href="/search/cheapest-hightest/bag">바지</a>

            <a class="btn btn-lg btn-dark" href="/search/cheapest-hightest/socks">양말</a>

            <a class="btn btn-lg btn-dark" href="/search/cheapest-hightest/sneakers">스니커즈</a>

            <a class="btn btn-lg btn-dark" href="/search/cheapest-hightest/bag">가방</a>

            <a class="btn btn-lg btn-dark" href="/search/cheapest-hightest/accessory">액세서리</a>
        </p>
        <p class="lead">구현4</p>
        <p>
            <a class="btn btn-lg btn-info" href="/products">브랜드 및 상품을 추가 / 업데이트 / 삭제하는 API</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
